- if flash[:notice]
  - flash.each do |key, value|
    - if value == "本人確認用のメールを送信しました。メール内のリンクからアカウントを有効化させてください。"
      #hoge.alert.alert-success.mb-0.text-center.rounded-0
        = flash[:notice]
    - else
      #foo.alert.alert-success.mb-0.text-center.rounded-0
        = flash[:notice]
.container-fluid
  .row
    .col-md-2.col-sm-1.col-12
    .col-md-8.col-sm-10.col-12.mt-3
      = render "partial/top_index"
    .col-md-2.col-sm-1.col-12
  .row
    .col-md-2.col-sm-1.col-12
    .col-md-8.col-sm-10.col-12
      .row
        .col-lg-7.col-md-12.col-sm-12.col-12
          .mt-3
            = render "partial/breadcrumb"
            - if current_page?(controller:'questions', action:'search')
              .h5.mt-3.mb-2.text-center
                検索結果<br>
                = page_entries_info @questions
          = render partial: "partial/index_question_card" ,collection: @questions, as:"question"
          .text-center.my-1
            = page_entries_info @questions
          = paginate @questions
        .col-lg-5.col-md-12.col-sm-12.col-12.d-none.d-lg-block
          .mt-3
            = render "partial/search_form"
          / .mt-3
          /   = render partial: "partial/question_each_list" ,locals:{newest_questions: @newest_questions_limit5,newest_school_questions: @newest_school_questions_limit5,newest_work_questions: @newest_work_questions_limit5,newest_jobHunting_questions: @newest_jobHunting_questions_limit5,newest_relationship_questions: @newest_relationship_questions_limit5,newest_other_questions: @newest_other_questions_limit5 }