- if flash[:notice]
  #foo.alert.alert-success.mb-0.text-center.rounded-0
    = flash[:notice]
= render "partial/header"
.container-fluid
  .row
    .col-1
    .col-10.mt-5
      = render "partial/top_index"
    .col-1
  .row
    .col-1
    .col-10
      .row
        .col-12.mt-4
          %ul.nav.nav-tabs
            %li.nav-item
              %a.nav-link.active{"data-toggle": "tab", href: "#newest_question"} 新しい質問
            %li.nav-item
              %a.nav-link{"data-toggle": "tab", href: "#school"} 学校
            %li.nav-item
              %a.nav-link{"data-toggle": "tab", href: "#work"} 仕事
            %li.nav-item
              %a.nav-link{"data-toggle": "tab", href: "#job_hunting"} 就活
            %li.nav-item
              %a.nav-link{"data-toggle": "tab", href: "#relationship"} 恋愛
            %li.nav-item
              %a.nav-link{"data-toggle": "tab", href: "#other"} その他
        .col-8.pt-3
          .tab-content
            #newest_question.tab-pane.active
              = render partial: "partial/index_question_card" ,collection: @questions, as:"question"
        .col-4.pt-3
          .card.p-2.mb-3.rounded-0
            .mx-auto
              = form_tag('/users', method: :get, class: "form-inline") do
                = text_field_tag :name, "",placeholder: "質問検索",class: 'form-control mr-sm-1 form-control-sm',name: "keyword",autocomplete: "off"
                = button_tag(type: "submit", class: "btn btn-default mr-sm-2 search-btn-color") do
                  %i.fas.fa-search
          = render "partial/question_each_list"
= render "partial/footer"


