= render "partial/header"
.container-fluid
  .row
    .col-md-2
    .col-md-8
      .row
        .col-md-8
          .border.mt-md-5.mb-md-5.px-md-5
            %h4.border-bottom.border-success.pt-md-4 相談フォーム
            %h5.border-bottom.border-success.pt-md-3 あなた
            %ul.list-unstyled.small
              %li 櫻井
              %li 男性
              %li ２０代後半
              %li 社会人
              %li 吃音当事者
            = form_for @question do |f|
              .form-group
                %h5.border-bottom.border-success.pt-md-3 タイトル
                =f.text_field :title, class: "form-control",placeholder: "title"
              .form-group
                %h5.border-bottom.border-success.pt-md-3 質問のジャンルを選択
                = f.select( :genre ,[["学校", "学校"], ["仕事", "仕事"], ["就活", "就活"], ["恋愛", "恋愛"], ["その他", "その他"]], {}, { class: 'form-control'})
              .form-group
                %h5.border-bottom.border-success.pt-md-3 相談内容
                = f.text_area :body, class: 'form-control', placeholder: '相談内容',rows: "10"
              = f.submit '相談する', class: 'btn btn-success mb-md-3'
= render "partial/footer"
