.container-fluid
  .row
    .col-lg-3.col-md-2.col-sm-1.col-12
    .col-lg-6.col-md-8.col-sm-10.col-12
      .card.rounded-0.my-3.p-md-3.p-sm-1.p-1.shadow-sm
        %h4.py-2.main-color.text-white.text-center 相談フォーム
        %h5.mt-3.main-color-bottom-border あなたの登録情報
        %ul.p-2
          %li.py-1 名前: #{current_user.name} さん
          %li.py-1 性別: #{current_user.gender_i18n}
          %li.py-1 年齢層: #{current_user.age_i18n}
          %li.py-1 吃音の有無: #{current_user.stuttering_i18n}
        = form_for @question do |f|
          .form-group.mt-2
            %h5.main-color-bottom-border タイトル
            = error_messages(@question,"title")
            = f.text_field :title, class: "form-control ",placeholder: "タイトル"
            .form-group.mt-3.mb-1
              %h5.main-color-bottom-border 質問のジャンルを選択
              = error_messages(@question,"base")
              .form-inline
                - QuestionTag.tags_i18n.map do |k, v|
                  - @genre = [] if @genre.nil?
                  = f.fields_for :questionTags do |qt|
                    .my-1.ml-1
                      = qt.check_box(:tag,{:checked=> @genre.include?(k)? true : false}, k ,false)
                    .my-1.mr-2
                      = qt.label :tag, v
            .small *複数選択可
          .form-group.mt-2
            %h5.main-color-bottom-border 相談内容
            =error_messages(@question,"body")
            = f.text_area :body, class: 'form-control', placeholder: '相談内容',rows: 15
          .text-center
            = f.submit '相談する', class: 'btn btn-main mb-1'
