- if flash[:notice]
  #foo.alert.alert-success.mb-0.text-center.rounded-0
    = flash[:notice]
- if flash[:alert]
  #foo.alert.alert-warning.mb-0.text-center.rounded-0
    = flash[:alert]
.container-fluid
  .row
    .col-lg-3.col-md-2.col-sm-1.col-12
    .col-lg-6.col-md-8.col-sm-10.col-12.mt-3
      = render "partial/show_question_card", {question: @question}
      .mt-3
        - if @answers.present?
          = render partial: "partial/show_answer_card", collection: @answers, as:"answer"
        - else
          %p.text-center 現在回答がありません
      .my-3
        - if user_signed_in? && current_user.id != @question.user_id
          = render "partial/answer_form"
