- if flash[:notice]
  #foo.alert.alert-success.mb-0.text-center.rounded-0
    = flash[:notice]
.container-fluid
  .row
    .col-md-3.col-sm-2.col-12
    .col-md-6.col-sm-8.col-12
      .card.rounded-0.mt-3
        = form_for(resource, as: resource_name, url: registration_path(resource_name))do |f|
          %h4.py-2.main-color.text-white.text-center 新規登録フォーム
          .form-group.m-3
            .mb-2
              = f.label :name, "名前"
            = error_messages(resource,"name")
            = f.text_field :name , class: "form-control", placeholder: "名前"
          .form-group.m-3
            .mb-2
              = f.label :email,"Email アドレス"
            = error_messages(resource,"email")
            = f.email_field :email , class: "form-control", placeholder: "name@example.com"
          .form-group.m-3
            .mb-2
              = f.label :password,"パスワード"
            = error_messages(resource, "password")
            = f.password_field :password, class: "form-control", placeholder: "パスワード"
          .form-group.m-3
            .mb-2
              = f.label :password_confirmation,"パスワード(確認)"
            = error_messages(resource,"password_confirmation")
            = f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード(確認)"
          .form-group.m-3
            .mb-2
              = f.label :gender ,"性別"
            = error_messages(resource,"gender")
            = f.select( :gender ,User.genders_i18n.map { |k, v| [v, k]},{},{ class: 'form-control'})
          .form-group.m-3
            .mb-2
              = f.label :age ,"年齢層"
            = error_messages(resource,"age")
            = f.select( :age ,User.ages_i18n.map { |k, v| [v, k]},{},{ class: 'form-control'})
          .form-group.m-3
            .mb-2
              = f.label :stuttering ,"吃音に関して"
            = error_messages(resource,"stuttering")
            = f.select( :stuttering ,User.stutterings_i18n.map { |k, v| [v, k]},{},{ class: 'form-control'})
          .form-group.m-3
            = f.submit "登録する", type: "submit",class: "btn btn-main"
            = link_to "利用規約 >>" ,docs_term_of_use_path,class: "small ml-2"
        / SNS認証を有効化するときはコメントを外して下さい
        / .form-group.m-3
        / = link_to "Sign up with Twitter", user_twitter_omniauth_authorize_path
        / .form-group.m-3
        / = link_to "Sign up with Google", user_google_omniauth_authorize_path
      .p-2.small
        = link_to "ログインはこちら >>" , new_user_session_path , class: "mark"
