.box1.center
  %h4
    = @user.name
    さん
  %span こちら吃音Q&Aです。<br> いつもご利用いただき誠にありがとうございます。
  %p
    #{@comment.user.name}さんからコメントがあります。<br> 確認してみましょう。
.space
  .text-center
    #{@comment.user.name}
    さんのコメント内容
.box3.center
  %p
    #{simple_format @comment.body.truncate(100)}
  .text-center
    = link_to "詳細はこちらからチェック", @url