.box1.center
  %h4
    = @user.name
    さん
  %span こちら吃音Q&Aです。<br> いつもご利用いただき誠にありがとうございます。
  %p
    #{@answer.user.name}さんから回答があります。<br> 確認してみましょう。
.space 
  .text-center
    #{@answer.user.name}
    さんの回答内容
.box3.center
  %h4
    #{@answer.title}
  %p
    #{simple_format @answer.body.truncate(100)}
  .text-center
    = link_to "詳細はこちらからチェック", @url