- if flash[:notice]
  #foo.alert.alert-success.mb-0.text-center.rounded-0
    = flash[:notice]
.container-fluid
  .row
    .col-md-3.col-sm-2.col-12
    .col-md-6.col-sm-8.col-12
      .card.rounded-0.my-3
        = form_for (current_user) do |f|
          %h4.py-2.main-color.text-white.text-center 編集フォーム
          .form-group.m-3.relative
            .mb-2
            .avatar-preview
              - if current_user.avatar.present?
                = image_tag current_user.avatar.url, class: 'image_trimming avatar-image'
            .avatar-default.mx-auto
              = f.label :avatar ,class: "camera-psition" do
                = fa_icon :avatar ,class: 'fa-fw fa-camera fa-2x'
                = f.file_field :avatar , class: "form-control displaynone"
          .form-group.m-3
            .mb-2
              = f.label :name, "名前"
            = error_messages(current_user,"name")
            = f.text_field :name , class: "form-control", placeholder: "名前"
          .form-group.m-3
            .mb-2
              = f.label :gender ,"性別"
            = error_messages(current_user, "gender")
            = f.select( :gender ,User.genders_i18n.map { |k, v| [v, k]},{},{ class: 'form-control'})
          .form-group.m-3
            .mb-2
              = f.label :age ,"年齢"
            = error_messages(current_user, "age")
            = f.select( :age ,User.ages_i18n.map { |k, v| [v, k]},{},{ class: 'form-control'})
          .form-group.m-3
            .mb-2
              = f.label :stuttering ,"吃音に関して"
            = error_messages(current_user, "stuttering")
            = f.select( :stuttering ,User.stutterings_i18n.map { |k, v| [v, k]},{},{ class: 'form-control'})
          .form-group.m-3
            .mb-2
              = f.label :about, "自己紹介"
            = f.text_area :about, class: "form-control",placeholder: "自己紹介",rows: 10
          .form-group.m-3
            = f.submit "更新", type: "submit",class: "btn btn-main"
