- if flash[:notice]
  #foo.alert.alert-success.mb-0.text-center.rounded-0
    = flash[:notice]
.container-fluid
  .row
    .col-lg-1.col-md-2.col-sm-1.col-12
    .col-lg-10.col-md-8.col-sm-10.col-12.mt-3
      .row
        .col-lg-4.col-md-12.col-sm-12.mt-3
          .card.rounded-0.p-3
            .mx-auto.mb-3
              - if @user.avatar.url.present?
                = image_tag @user.avatar.url, class: ' avatar-image image_trimming',alt: "avatar 吃音"
              - else
                = image_tag set_default_avatar(@user), class: ' avatar-image image_trimming',alt: "avatar 吃音"
            %ul.my-1
              %li.list-inline-item
                %i.fas.fa-user 名前
              %li.list-inline-item
                %h5 #{@user.name} さん
            %ul.my-1
              %li.list-inline-item
                %i.fas.fa-transgender-alt 性別
              %li.list-inline-item
                %h5 #{@user.gender_i18n}
            %ul.my-1
              %li.list-inline-item
                %p 年齢層:
              %li.list-inline-item
                %h5 #{@user.age_i18n}
            %ul
              %li.list-inline-item
                %p 吃音の有無:
              %li.list-inline-item
                %h5 #{@user.stuttering_i18n}
            - if user_signed_in? && current_user.id == @user.id
              %ul
                %li.list-inline-item
                  %i.far.fa-envelope
                %li.list-inline-item
                  %h5 #{@user.email}
            %ul.my-3
              %li.list-inline-item
                %h6 #{simple_format @user.about}
            - if user_signed_in? && current_user.id == @user.id
              = link_to edit_user_path(current_user.id) do
                %button.fas.fa-edit.btn.btn-main{type: "button"} 編集
        .col-lg-8.col-md-12.col-sm-12
          %h4.text-center.mt-3 回答した質問一覧
          - if @my_answer_questions.present?
            = render partial: "partial/index_question_card" ,collection: @my_answer_questions, as:"question"
            = paginate @my_answer_questions
          - else
            %h5.text-center 現在回答した質問はありません
          %h4.text-center.mt-5 回答した質問一覧
          - if @questions.present?
            = render partial: "partial/index_question_card" ,collection: @questions, as:"question"
            = paginate @questions
          - else
            %h5.text-center 現在質問はありません

