.container-fluid
  .row
    .col-md-3.col-sm-2.col-12
    .col-md-6.col-sm-8.col-12
      .mb-3
      .card.rounded-0
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          / = devise_error_messages!
          %h4.py-2.main-color.text-white.text-center パスワード再登録
          - if !resource.errors.full_messages.empty?
            %ul.alert.alert-warning.m-3{role: "alert"}
              - resource.errors.full_messages.each do |error|
                = content_tag("div", error, :id => "flash_alert")
          .form-group.m-3
            .mb-2
              = f.label :email
            = f.email_field :email, class: "form-control", autofocus: true, autocomplete: "name@example.com"
          .form-group.m-3
            .mb-2.actions
              = f.submit "メール送信",class: "btn btn-main"
      = render "devise/shared/links"
