%nav.navbar.navbar-expand-lg.navbar-dark.sticky-top.main-color.shadow
  .container
    = link_to root_path ,class: "mr-auto" do
      = image_tag "logo.png",class: "logo-image"
    / Button trigger modal
    %button.btn.text-white.main-color.mx-sm-0.ml-md-4.ml-lg-4{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
      %i.fas.fa-search.fa-lg
    / Modal
    #exampleModal.modal.fade{"aria-hidden" => "ture", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          = render "partial/search_form"
          .modal-header.ml-auto
            %button.btn{"data-dismiss" => "modal", :type => "button"} 閉じる
    - if user_signed_in?
      .dropdown.notification-dropdown.mx-1.mx-sm-1.mx-md-2.mx-lg-2
        %button#dropdownMenu1.btn.main-color.text-white.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = current_user.notifications.where(read: false).count
          %span.glyphicon.glyphicon-flag
            %i.fa.fa-bell{"aria-hidden" => "true"}
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li.dropdown-header.text-center
            - if current_user.notifications.where(read: false).count == 0
              現在通知はありません
            - else
              通知一覧
          = render partial:'notifications/notifications',collection: current_user.notifications.where(read: false).order('created_at DESC').last(5) , as:"notification"
          / %li.divider{:role => "separator"}
          / %li.text-center
          /   = link_to '通知一覧を見る', notifications_path
          / これは通知一覧を見る機能 現在は不要
      = link_to "/users/#{current_user.id}",class: "mr-2" do
        - if current_user.avatar.present?
          = image_tag current_user.avatar.url, class: 'image_trimming avatar-image-header',alt: "吃音 kitsuon"
        - else
          = image_tag set_default_avatar(current_user), class: 'image_trimming avatar-image-header',alt: "吃音 kitsuon"
    %button.navbar-toggler{"aria-controls": "navbarNavDropdown", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarNavDropdown", "data-toggle": "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      / この下の行に mr-auto クラスを付与するだけ
      %ul.navbar-nav.mr-auto
      %ul.navbar-nav
        .d-none.d-lg-block
          %li.nav-item.dropdown.mt-1.small
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", href: "#", role: "button"}
              サイトについて
            .dropdown-menu{"aria-labelledby": "navbarDropdown"}
              = link_to "サイトの思い" ,docs_about_service_path, class: "dropdown-item small"
              = link_to "利用規約" ,docs_term_of_use_path, class: "dropdown-item small"
              = link_to "プライバシーポリシー" ,docs_privacy_policy_path, class: "dropdown-item small"
              = link_to "お問い合わせ" ,"https://docs.google.com/forms/d/e/1FAIpQLSca4fJUzG0IY_HgR9blCm0gBzx2jQnSdy7lcwh2VyCygJcBLw/viewform", class: "dropdown-item small"
        .d-lg-none
          %li.nav-item.small.mt-1
            = link_to docs_about_service_path, method: :get, class: 'nav-link' do
              %i.far.fa-comment-dots.font-weight-bold サイトの思い/運営に関して
          %li.nav-item.small.mt-1
            = link_to docs_term_of_use_path, method: :get, class: 'nav-link' do
              %i.far.fa-file-alt.font-weight-bold 利用規約
          %li.nav-item.small.mt-1
            = link_to docs_privacy_policy_path, method: :get, class: 'nav-link' do
              %i.fas.fa-shield-alt プライバシーポリシー
          %li.nav-item.small.mt-1.font-weight-bold
            = link_to "https://docs.google.com/forms/d/e/1FAIpQLSca4fJUzG0IY_HgR9blCm0gBzx2jQnSdy7lcwh2VyCygJcBLw/viewform", class: 'nav-link' do
              %i.fas.fa-question お問い合わせ
        - if user_signed_in?
          %li.nav-item.small.mt-1
            = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
              %i.fas.fa-sign-out-alt ログアウト
          %li.nav-item.small.mt-1
            = link_to  user_path(current_user), method: :get,class: 'nav-link' do
              %i.fas.fa-user マイページ
        - else
          %li.nav-item.small.mt-1
            = link_to  new_user_registration_path, method: :get, class: 'nav-link' do
              %i.fas.fa-user-plus メンバー登録
          %li.nav-item.small.mt-1
            = link_to new_user_session_path, method: :get, class: 'nav-link' do
              %i.fas.fa-sign-in-alt ログイン




