.card.rounded-0.mb-3.p-3.shadow-sm
  = link_to question_path(question) do
    %h5
      #{question.title}
  %ul
    - question.questionTags.each do |questionTag|
      %li.list-inline-item.mr-0
        .badge.badge-pill.badge-info #{questionTag.tag_i18n}
  %p.mt-2
    #{simple_format question.body.truncate(100)}
  %ul.list-inline.text-secondary.small
    %li.list-inline-item
      = link_to user_path question.user do
        %i.far.fa-user
        #{question.user.name}
    %li.list-inline-item
      %i.far.fa-comment
      %span.badge
      #{question.answers.count}
    %li.list-inline-item
      %i.far.fa-clock
      #{question.created_at.to_s(:human)}
    / %li.list-inline-item
    /   %i.far.fa-eye
    /   %span.badge 4
