.card.rounded-0.border-bottom-0.py-2.answer-color.text-white.text-center
  #{answer.user.name}
  さんの回答内容
.card.rounded-0.p-3.mb-4
  %h4
    #{answer.title}
  .m-2
    #{simple_format answer.body}
  %ul.list-inline.text-secondary
    %li.list-inline-item
      %i.far.fa-user
      #{answer.user.name}
    %li.list-inline-item.small
      %i.far.fa-clock
      #{answer.created_at.to_s(:human)}
  %hr.mt-4
  - if answer.comments.present?
    %h5.mt-4 この回答に対するコメント
  - else
    %h5.mt-4 この回答に対するコメントは現在ありません
  = render partial: "partial/comment_card" ,collection: answer.comments, as:"comment"
  = form_for @comment, :url => {:controller => :comments, :action => :create},html: {class: 'm-3'} do |f|
    = f.text_area :body, class: "form-control ",placeholder: "コメントする",rows: "1"
    = f.hidden_field :answer_id, value: answer.id
    = f.submit 'コメント', class: 'btn btn-success mt-2'




