.card.rounded-0.border-bottom-0.py-2.main-color.text-white.text-center.shadow
  #{question.user.name}
  さんの相談内容
.card.rounded-0.p-3.shadow
  %h4
    #{question.title}
  %ul
    %li.list-inline-item
      .badge.badge-secondary
  .m-2
    #{simple_format question.body}
  %ul.list-inline.text-secondary
    %li.list-inline-item
      %i.far.fa-user
      #{question.user.name}
    %li.list-inline-item.small
      %i.far.fa-clock
      #{question.created_at.to_s(:human)}
    %li.list-inline-item
      %i.far.fa-eye
      %span.badge
      #{question.answers.count}
    %li.list-inline-item
      %i.far.fa-comment
      %span.badge
      #{question.answers.count}
    %li.list-inline-item.float-right
      - unless user_signed_in? then
        = link_to user_session_path do
          .offset-12.btn.btn-success 回答する
