- if flash[:notice]
  #foo.alert.alert-success.mb-0.text-center.rounded-0
    = flash[:notice]
.container-fluid
  .row
    .col-md-3.col-sm-2.col-12
    .col-md-6.col-sm-8.col-12
      .mb-3
      .card.rounded-0
        = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
          = devise_error_messages!
          %h4.py-2.main-color.text-white.text-center ログイン
          - if flash[:alert]
            %ul.alert.alert-warning.m-3{role: "alert"}
              = content_tag("div", flash[:alert], :id => "flash_alert")
          .form-group.m-3
            .mb-2
              = f.label :email,"メールアドレス"
            = f.email_field :email , class: "form-control", placeholder: "name@example.com"
          .form-group.m-3
            .mb-2
              = f.label :password,"パスワード"
            = f.password_field :password, class: "form-control", placeholder: "パスワード"
          .form-group.m-3
            = f.submit "ログイン",class: "btn btn-main"
        / SNS認証を有効化するときはコメントを外して下さい
        / .form-group.m-3
        / = link_to "Sign up with Twitter", user_twitter_omniauth_authorize_path
        / .form-group.m-3
        / = link_to "Sign up with Google", user_google_omniauth_authorize_path
      .p-2.small
        = link_to "新規登録はこちら >>" , new_user_registration_path , class: "mark"