.container
  .row
    .col-md-3
    .col-md-6
      .pt-md-4
        = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
          = devise_error_messages!
          %label.h3 ログイン
          .form-group
            = f.label :email,"Email アドレス"
            = f.email_field :email , class: "form-control", placeholder: "name@example.com"
          .form-group
            = f.label :password,"パスワード"
            = f.password_field :password, class: "form-control", placeholder: "パスワード"
          = f.submit "登録",class: "btn btn-primary"
